html,
div {
  font-family: "Baloo 2", cursive !important;
}
.rounded-image {
  border-radius: 20px; /* Điều chỉnh giá trị border-radius theo ý bạn */
}
html,
.body-customer {
  min-height: 100vh; /* Chiều cao tối thiểu của nội dung là toàn bộ chiều cao của trang */
  display: flex;
  flex-direction: column; /* Để các phần tử con xếp theo cột */
}

.footer {
  margin-top: auto; /* Đẩy footer xuống dưới cùng */
  background-color: hsl(210, 16.67%, 97.65%);
}
.badge:after {
  content: attr(value);
  font-size: 12px;
  color: #fff;
  background: red;
  border-radius: 50%;
  padding: 0 5px;
  position: relative;
  left: -8px;
  top: -10px;
  opacity: 0.9;
}
.badge {
  --bs-badge-color: #311c1c !important;
  --bs-badge-font-size: 1em !important;
}
